.modal-box {
  min-height: 200px;
  width: 100%;
  max-width: 580px;
  background: white;
  border-radius: 5px;
  padding: 35px;
}

.input::placeholder {
  color: #8f8f8f;
}
.input {
  color: #8f8f8f;
}
