<div class="centered-content">

  <div class="task-manager-container">

    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">Lists</h1>

      <div class="list-menu">
        <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]" routerLinkActive="is-active">
          <p>{{ list.title }}</p>
        </a>
      </div>

      <button class="button is-primary has-text-white" routerLink="/new-list">+ New List</button>
    </div>

    <div class="tasks-list-container has-background-light">

      <div class="top-bar">
        <h1 class="title has-text-primary">Tasks</h1>

        <div class="dropdown is-hoverable is-right">
          <div class="dropdown-trigger">
            <button class="button has-background-white" aria-haspopup="true" aria-controls="dropdown-menu4">
              <span class="icon is-small">
                <i class="fas fa-cog" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu4" role="menu">
            <div class="dropdown-content">
              <a class="dropdown-item"> Edit </a>
              <a class="dropdown-item has-text-danger" (click)="onDeleteListClicked()"> Delete </a>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="this.listId == ''">
        <h3 class="empty-state-text">Please select a list from the sidebar.</h3>
      </div>

      <div *ngIf="this.listId != '' && this.tasks.length == 0">
        <h3 class="empty-state-text">There are no tasks in this list.<br>Click the Add button to create a new task.</h3>
      </div>

      <!-- Task Elements -->
      <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)" [ngClass]="{ 'completed': task.completed }">
        <p>{{ task.title }}</p>
      </div>

      <button [routerLink]="listId != '' ? ['./new-task'] : ['./']" class="circle-add-button button is-primary">
        <img src="../../../assets/plus-icon.svg">
      </button>
    </div>
  </div>
</div>
